h1{
    color: blueviolet;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: #e2dbdb;
}
.a{
    color: darkgray;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.b{
    color: darkgray;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.c{
    color: darkgrey;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.d{
    color: darkgray;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.f{
    color: darkgray;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.text1{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.text2{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.text3{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.text4{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.italic{
    font-style: italic;
}